**/build/*
**/node_modules/*
**/tmp/*
*.bak
*.iml
*.ipr
*.iws
*.launch
*.log
*.pydevproject
*.sublime-project
*.swp
*.tmp
*.tokens
*.un~
*~
*~.nib
.*.sw[a-z]
.\#*
._*
.buildpath
.classpath
.clover
.cproject
.DS_Store
.json
.elasticbeanstalk
.elc
.emacs.desktop
.emacs.desktop.lock
.env
.externalToolBuilders
.idea
.loadpath
.map
.metadata
.mule
.pmd
.project
.sass-cache
.settings
.Spotlight-V100
.Trashes
.wtpmodules
temp_*
